<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/6194d9e5-256e-426e-a2e0-0bce395d3f2c/resourcegroups/oenik/providers/Microsoft.Web/sites/V59Z7ISOF202324120240110190445</ResourceId>
    <ResourceGroup>oenik</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://v59z7isof202324120240110190445.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f1134895-d6a1-4cdc-a20f-58cb4e42a9c4</ProjectGuid>
    <PublishUrl>https://v59z7isof202324120240110190445.scm.azurewebsites.net/</PublishUrl>
    <UserName>$V59Z7ISOF202324120240110190445</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>