html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: black;
}

.picture-container {
    background: url('/images/background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    height: 300px;
}

.content-container{
    padding-top: 70px;
}